
body{
	margin: 0;
	font-family: Arial;
}

nav{
  display: flex;
  background-color: black;
  padding: green;
  color: black;
  
  align-items: center;
}

nav ul{
  padding-left: 200px;
  display: flex;
}

nav li{
  padding-left: 20px;
  list-style: none;

}

nav li a{
  color: #ff9800;
  text-decoration: none;
}

nav li a:hover{
  color: white;
}

.logo_image{
	padding-left: 5px;
	padding-top: 3px;
}

.post-list{
	display: grid;
	grid-template-columns: repeat(1, minmax(100%, 600px));	
	justify-content: center;
	
	margin-top: 0px;
}

H2{
	text-align: center;
}

img{
	margin:10px auto;
	display:block;
	
}

.about{
	text-align: center;
	margin:10px auto;
	display:block;
}

.post{
	cursor: pointer;
	position: relative;
	display: block;
}
.post-image{
	margin: 0;
}
.post-image img{
	width: 100%;
	vertical-align: top;
}
.post-overlay{
	background: rgba(0,0,0, .4);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: none;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;
}

.post:hover .post-overlay{
	display: flex;
}

.post-likes, .post-comments{
	width: 80px;
	margin: 5px;
	font-weight: bold;
	text-align: center;
	display: inline-block;
}

.main_button{
	
  	background-color: black;
 
  	width: 100%;  			 	
  	padding: 10px;
  	color: #ff9800;
  	border: 0;
  	cursor: pointer;
  	border-radius: 2px; 

}

.main_button:hover{
  	color: white;
}

/*prueba*/

.hero{
	
	color: black;
	padding: 1px 10px;
	display: grid;
	grid-template-columns: minmax(auto, 1024px);
	justify-content: center;
}
.hero-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "bronce silver gold"
						"bronce silver gold"
						"bronce silver gold";                                                                               
						                    
	grid-gap: 10px;
	margin: 10px;
	border-color: black;
}
.bronce{
	text-align: left;
	background: #763c28;
	grid-area: bronce;
	   margin: 1px;
	   padding: 30px;
	
}
.silver{
	text-align: left;
	background: silver;
	grid-area: silver;
	   margin: 1px;
	   padding: 30px;
	
}
.gold{
	text-align: left;
	background: gold;
	grid-area: gold;
	   margin: 1px;
	   padding: 30px;
	
}

@media screen and (max-width: 768px){
	.main_button{
  	padding: 20px;
	  width: 100%;
	  font-size: 14pt;
	}

	nav ul{
  		padding-left: 20px;
  		display: flex;
	}
	
	.post-list{
		display: grid;
		grid-template-columns: repeat(1, minmax(100%, 293px));
		grid-gap: 3px;
	}

	.hero{
	
		color: black;
		padding: 1px 10px;
		display: grid;
		grid-template-columns: minmax(auto, 480px);
		justify-content: center;
	}
	.hero-container{
		display: grid;
		grid-template-columns: 100%;
		grid-template-areas: "bronce"
							"silver"
							"gold";                                                                               
												
		grid-gap: 10px;
		margin: 10px;
		border-color: black;
	}
}